@charset "UTF-8";
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.header-inner {
  padding: 0.75em 0 0.5em 0;
}

.header-logo-img {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 96px;
  width: 400px;
}

.header-top-buttons {
  margin-left: 20%;
  width: 30%;
}
.header-top-buttons a {
  color: #6d6e71;
  /* ╤Ж╨▓╨╡╤В ╤В╨╡╨║╤Б╤В╨░ */
  text-decoration: none;
  /* ╤Г╨▒╨╕╤А╨░╤В╤М ╨┐╨╛╨┤╤З╤С╤А╨║╨╕╨▓╨░╨╜╨╕╨╡ ╤Г ╤Б╤Б╤Л╨╗╨╛╨║ */
  user-select: none;
  /* ╤Г╨▒╨╕╤А╨░╤В╤М ╨▓╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╤В╨╡╨║╤Б╤В╨░ */
  background: white;
  /* ╤Д╨╛╨╜ ╨║╨╜╨╛╨┐╨║╨╕ */
  padding: 10px 15px 10px 5px;
  /* ╨╛╤В╤Б╤В╤Г╨┐ ╨╛╤В ╤В╨╡╨║╤Б╤В╨░ */
  outline: none;
  /* ╤Г╨▒╨╕╤А╨░╤В╤М ╨║╨╛╨╜╤В╤Г╤А ╨▓ Mozilla */
  border-radius: 7px;
}

.header-top div {
  margin-top: 0.5em;
}

.header-top {
  background: #eceef4;
  height: 63px;
}

.inner div {
  display: inline-block;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}
