.header {
  @import "headerInner";
  @import "Top/headerTopButtons";
  @import "Logo/headerLogo";
  @import "Top/headerTopSocial";
  @import "headerNavSrch";
}
.header-top{
	background:#eceef4;
	height: 63px;
}
.inner div{
	display:inline-block;
}
ul li{
	display:inline-block;
}